h1{
	text-align:center;
	font-family:KaiTi;
	padding-top:20px;
  }  
  
* { 
  padding: 0;
  margin: 0;
  } /*默认页面中所有元素的填充值为0，外边距为0*/
  
ul {list-style: none;}

.pic{
	 position: relative;
	 width: 700px;
	 height: 500px;
     margin: 20px auto;
	 cursor: pointer;
    } /*图片大小和位置*/

.pic .img li{
	      position: absolute;
	      display:none; /*图片先隐藏，选中之后再显示*/
          }

.pic .num{
		 position: absolute; 
		 bottom: 20px;
		 right:0;
		 font-size: 20px;
		 width: 100%;
		 text-align: center;
	     } /*数字标签样式总体设置*/

.pic .num li{
	      width: 20px;
	      height: 20px;
	      font-size: 15px;
	      background-color: silver;
	      color: black;
	      text-align: center;
	      line-height: 20px;
	      border-radius: 50%;
	      margin: 7px;;
	      cursor: pointer;
	      display: inline-block; /*数字横着放置*/
          }	  /*数字具体样式设置*/

.pic .num li.color{background-color:gold;}

.pic .jt{
	    position: absolute;
	    top: 50%;
	    display:none;
		opacity:0.4;
	    } /*箭头样式设置*/

.pic .L{left:0;}
.pic .R{right:0;} /*左右箭头位置设置*/

.pic:hover .jt{ 
			  display: block;
			  cursor: pointer;
			  } /*鼠标覆盖区域时的箭头样式*/

body .pic{
	     text-align:center;
	     border-top:dashed gold;
         border-right-color:white;
	     border-bottom:dashed gold;
	     border-left-color:white;
	     border-width:3px;
	     background:white;
         border-radius:40px;
	     padding:30px 30px;
        } /*在整体图片外添加边框*/

	  